flask
flask-cors
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
google-api-core
google-auth
googleapis-common-protos
google-ai-generativelanguage
protobuf
faiss-cpu
nltk
torch
torchvision
tqdm
requests
typing-inspection
pypdf
python-dotenv
